@model MvcFirstApplication.Models.Book

@{
	ViewData["Title"] = "Model Example";
}

<h2>Model Example</h2>
<p><strong>ID:</strong> @Model.Id</p>
<p><strong>Title:</strong> @Model.Title</p>
<p><strong>Author:</strong> @Model.Author</p>