@model IEnumerable<Partial_View_Demo.Models.Product>

<table class="table">
    <thead>
        <tr>
            <th>ProductID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @* The partial view "_mypartail" expects a single Product object as its model. *@
            <partial name="_MyPartial" model="item" />
        }
    </tbody>
</table>