 
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <header>This is a header</header>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        <footer>This is a footer</footer>
    </div>
</body>
</html>