@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Controller_To_View2.Models.Employee


<h2>@Model.Eid</h2>
<h2>@Model.Ename</h2>
<h2>@Model.Salary</h2>
<h2>@Model.Dept</h2>
